.input__container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input__container label{
    font-weight: 500;
    font-size: 1rem;
    color: rgb(99, 41, 150);
}

input{
  border-radius: 5px;
  border: 1px solid #b9b3b3;
  outline: none;
  padding: 10px 15px;
  color: #000;
}
input:hover {
    border-color: #ccc;
  }
  
input:focus {
    border-color: #9900ff;
  }